.btn-primary {
    /* background-color: #FF1444 !important; */
    background-color: #A30021 !important;
    /* border: #FF1444 !important; */
    border: #A30021 !important;
    color: #F2F2F2;
    margin: auto !important;
}