.main {
    background: var(--black) !important;
}

@media (min-width: 576px) {
  p {
    font-size: 1.1rem;
  } 
}

@media screen and (min-width: 768px) {
  .main  p {
    font-size: 1.2rem !important;
  }
}