  .faThreeX {
    font-size: 3rem;
    /* color: var(--red); */
    color: var(--red) !important;

}

.faThreeX:hover, .faThreeX:focus {
    /* font-size: 3.5em; */
    color: var(--white) !important;
  }

 