:root {
  --black: #0D0D0D;
  --lightBlack: #333333;
  --white: #F2F2F2;
  --grey: #BFBFBF;
  --green: #5DA676;
  --purple: #3C2E8C;
  --red: #FF1444;
  --lightBlue: #0583F2;
  --sans: "Noto Sans", sans-serif;
  --serif: "Noto Serif", serif;
  --animation: all 4s ease-in-out;
  --box-shadow-1: 0 3px 15 px rgba(0, 0, 0, 0.3);
}

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  max-width: 100%;
}
